@media (max-width: 575.98px) {
    .body{
        margin: -10px !important;
    }
    .paper{
        width: 4rem !important;
        height: 4rem !important;
        margin-top: -200px !important;
        margin-right: 10px !important;
    }
    .scissors{
        width: 4rem !important;
        height: 4rem !important;
        margin-top: -200px !important;
        margin-left: 10px !important;
    }
    .content{
        margin-top: 100px !important;
        height: auto !important;
    }
    .content2{
        margin-top: 70px !important;
        height: auto !important;
    }
    .rock{
        width: 4rem !important;
        height: 4rem !important;
    }
    .rock-select-house,.rock-select, .scissors-select, .scissors-select-house,.paper-select-house, .paper-select{
        width: 5rem !important;
        height: 5rem !important;
    }
    .house-picked, .you-picked{
        width: 8rem !important;
        height: 8rem !important;
    }
    .selected-result, .selected-result-two{
        font-size: 20px !important;
    }
    .footer{
        margin-left: 20px !important;
        text-align: center !important;
        margin-top: 70px !important;
        padding-bottom: 0px !important;
    }
    .btn-playAgain, .btn-playAgain-two{
        font-size: 12px !important;
        padding: 10px 40px !important;
        margin: 0px auto !important;
    }
    .result{
        margin: 25px auto 0px !important;
    }
    .target, .target1{
        width: 20px;
        height: 25px;
    }
    .target2{
        width: 20px;
        height: 25px;
        margin-top: 1.5rem !important;
    }
    .bg-triangle{
        width: 10rem !important;
        height: 10rem !important;
    }
    .score{
        width: 3rem !important;
        height: 2.6rem !important;
        padding: 6px !important;
        margin-top: -13px !important;
        border-radius: 5px !important;
    }
    .p-score{
        font-size: 10px;
        margin-top: -4px;
        margin-bottom: -4px;
    }
    .count{
        font-size: 12px;
    }
    h3{
        font-size: 30px !important;
    }
    .col{
        width: 80px !important;
        height: 50px !important;
        display: flex;
        align-self: center;
    }
    .row{
        height: auto !important;
        width: 18rem !important;
        border-radius: 5px !important;
    }
    .rules{
        position: static !important;
        display: flex !important;
        justify-content: flex-start !important;
        height: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .close-rules{
        font-size: 25px !important;
        font-weight: bolder;
        color: rgba(4, 4, 34, 0.664) !important;
    }
    .roww{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .div-close-rules{
        margin-left: auto;
        margin-right: auto;
    }
    .fa-close{
        display: none !important;
    }
    .close-icon{
        display: block !important;
        text-align: center;
        margin-top: 100%;
        font-size: 25px !important;
        color: rgba(95, 93, 93, 0.438) !important;
    }
    .close-icon:hover{
        cursor: pointer;
    }
    .div-rules{
        display: flex !important;
        justify-content: center !important;
        margin-top: 0px !important;
    }
    .rrl{
        width: 230px !important;
        height: 200px !important;
        margin-top: 50px;
    }
    .select{
        margin: 0px 20px !important;
    }
    .header{
        margin-top: 30px !important;
        padding-top: 10px !important;
        height: 70px !important;
    }
}
body{
    background-image: Radial-Gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100vh;
}
.body{
    height: 100vh;
    width: auto;
    color: white;
}
h2{
    margin-top: -5px;
    margin-bottom: -5px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(229, 64%, 46%);
    font-size: 20px;
}
h3{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(229, 25%, 31%);
}
.score{
    background-color: white;
    border-radius: 10px;
    width: 5.8rem;
    height: 4.5rem;
    text-align: center;
    padding: 10px;
}
.col-score{
    margin-left: auto;
}
.row{
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 20px;
    height: 6rem;
}
.header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.row2{
    display: flex;
    flex-direction: row;
}
.paper{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-right: 100px;
    margin-top: -330px;
    border: 20px solid hsl(230, 89%, 65%);
    
}
.paper-select{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(230, 89%, 65%);
    display: none;
}
.rock-select{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(349, 70%, 56%);
    display: none;
}
.scissors-select{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(40, 84%, 53%);
    display: none;
}
.paper-select-house{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(230, 89%, 65%);
    display: none;
}
.rock-select-house{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(349, 70%, 56%);
    display: none;
}
.bg-triangle{
    position: static;
    width: 20rem;
    height: 20rem;
    margin: auto;
}
.scissors-select-house{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(40, 84%, 53%);
    display: none;
}
.target{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
}
.target1{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
}
.target2{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8rem;
}
.paper:hover, .rock:hover, .scissors:hover, .fa-close:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
    color: hsl(237, 49%, 15%);
    background-color: white;
    border-color:  hsl(237, 49%, 15%);
}
.scissors{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-top: -330px;
    border: 20px solid hsl(40, 84%, 53%);
}
.icons{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.rock{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    border: 20px solid hsl(349, 70%, 56%);
}
.content{
    display: flex;
    flex-direction: column;
    margin: 128px auto 0px;
    height: 350px;
}
.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px;
}
.selected{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bolder;
}
.content2{
    display: none;
    justify-content: center;
    margin-top: 8rem;
}
button{
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
}
.footer{
    text-align: right;
    margin-right: 20px;
    padding-bottom: 20px;
}
.my-rules{
    display: none;
}
.you-picked{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: hsl(238, 51%, 10%);
    margin-left: auto;
    margin-right: auto;
}
.house-picked{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: hsl(238, 51%, 10%);
    margin-left: auto;
    margin-right: auto;
}
.show-result{
    display: none;
}
.show-result-two{
    display: none;
}
.result, .result-two{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 70px;
}
.btn-playAgain, .btn-playAgain-two{
    font-weight: bold;
    cursor: pointer;
    color: hsl(237, 49%, 15%);
    background-color: white;
    border-color:  hsl(237, 49%, 15%);
}
.btn-playAgain:hover{
    color: red;
    border-radius: 10px;
    padding: 10px 30px;
}
.rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 200px;
    left: 570px;
    background: white;
    padding: 30px;
    border-radius: 10px;
}
.div-rules{
    margin-top: 50px;
}
.roww{
    display: flex;
    flex-direction: row;
}
.coll{
    margin-left: auto;
}