@media (max-width: 575.98px) {
    .body{
        margin: -10px !important;
    }
    .paper, .scissors{
        width: 4rem !important;
        height: 4rem !important;
        margin-top: -290px !important;
    }
    .content{
        margin-top: 85px !important;
        height: auto !important;
    }
    .content2{
        margin-top: 70px !important;
        height: auto !important;
    }
    .rock{
        width: 4rem !important;
        height: 4rem !important;
        bottom: 200px !important;
    }
    .rock-select-house,.rock-select, .scissors-select, .scissors-select-house,.paper-select-house, .paper-select{
        width: 4rem !important;
        height: 4rem !important;
    }
    .house-picked, .you-picked{
        width: 7rem !important;
        height: 7rem !important;
    }
    .selected-result{
        font-size: 15px !important;
    }
    .footer{
        margin-top: 50px !important;
    }
    .btn-playAgain{
        font-size: 8px !important;
        padding: 10px 20px !important;
        width: 92px !important;
    }
    .result{
        margin: 25px 0px 0px !important;
    }
    .target, .target1{
        width: 18px;
        height: 20px;
    }
    .target2{
        width: 18px;
        height: 20px;
        margin-top: 1.5rem !important;
    }
    .bg-triangle{
        width: 15rem !important;
        height: 15rem !important;
    }
    .score{
        width: 3rem !important;
        height: 2.6rem !important;
        padding: 6px !important;
        margin-top: -13px !important;
    }
    .p-score{
        font-size: 10px;
        margin-top: -4px;
    }
    .count{
        font-size: 12px;
    }
    h3{
        font-size: 30px !important;
    }
    .col{
        width: 80px !important;
        height: 50px !important;
        display: flex;
        align-self: center;
    }
    .row{
        height: auto !important;
        width: 18rem !important;
    }
    .rules{
        position: fixed;
        top: 110px !important;
        left: 10px !important;
        right: 15px !important;
    }
    .close-rules{
        font-size: 12px !important;
    }
    .div-rules{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        display: flex !important;
        justify-content: center !important;
        width: 300px !important;
        height: 200px !important;
    }
    .rrl{
        width: 200px !important;
        height: 200px !important;
    }
    .select{
        margin: 0px 20px !important;
    }
    .header{
        padding-top: 10px !important;
        height: 70px !important;
    }
}
body{
    background-image: Radial-Gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100vh;
}
.body{
    height: 100vh;
    width: auto;
    color: white;
}
h2{
    margin-top: -5px;
    margin-bottom: -5px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(229, 64%, 46%);
    font-size: 20px;
}
h3{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(229, 25%, 31%);
}
.score{
    background-color: white;
    border-radius: 10px;
    width: 5.8rem;
    height: 4.5rem;
    text-align: center;
    padding: 10px;
}
.col-score{
    margin-left: auto;
}
.row{
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 20px;
    height: 6rem;
}
.header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.row2{
    display: flex;
    flex-direction: row;
}
.paper{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-right: 100px;
    margin-top: -330px;
    border: 20px solid hsl(230, 89%, 65%);
    
}
.paper-select{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(230, 89%, 65%);
    display: none;
}
.rock-select{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(349, 70%, 56%);
    display: none;
}
.scissors-select{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(40, 84%, 53%);
    display: none;
}
.paper-select-house{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(230, 89%, 65%);
    display: none;
}
.rock-select-house{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(349, 70%, 56%);
    display: none;
}
.bg-triangle{
    position: static;
    width: 20rem;
    height: 20rem;
    margin: auto;
}
.scissors-select-house{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(40, 84%, 53%);
    display: none;
}
.target{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
}
.target1{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
}
.target2{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8rem;
}
.paper:hover, .rock:hover, .scissors:hover, .fa-close:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
    color: hsl(237, 49%, 15%);
    background-color: white;
    border-color:  hsl(237, 49%, 15%);
}
.scissors{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-top: -330px;
    border: 20px solid hsl(40, 84%, 53%);
}
.icons{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.rock{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    border: 20px solid hsl(349, 70%, 56%);
}
.content{
    display: flex;
    flex-direction: column;
    margin: 128px auto 0px;
    height: 350px;
}
.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px;
}
.selected{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bolder;
}
.content2{
    display: none;
    justify-content: center;
    margin-top: 8rem;
}
button{
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
}
.footer{
    text-align: right;
    margin-right: 20px;
    padding-bottom: 20px;
}
.my-rules{
    display: none;
}
.you-picked{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: hsl(238, 51%, 10%);
    margin-left: auto;
    margin-right: auto;
}
.house-picked{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: hsl(238, 51%, 10%);
    margin-left: auto;
    margin-right: auto;
}
.show-result{
    display: none;
}
.result{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 70px;
}
.btn-playAgain{
    font-weight: bold;
    cursor: pointer;
    color: hsl(237, 49%, 15%);
    background-color: white;
    border-color:  hsl(237, 49%, 15%);
}
.btn-playAgain:hover{
    color: red;
    border-radius: 10px;
    padding: 10px 30px;
}
.rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 200px;
    left: 570px;
    background: white;
    padding: 30px;
    border-radius: 10px;
}
.div-rules{
    margin-top: 50px;
}
.roww{
    display: flex;
    flex-direction: row;
}
.coll{
    margin-left: auto;
}