@media (max-width: 575.98px) {
    .row{
        width: auto !important;
    }
    .body{
        margin: -10px !important;
    }
    .content{
        margin: 0px !important;
    }
    
}
.body{
    height: 100vh;
    width: auto;
    background-image: Radial-Gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: white;
}
h2{
    margin-top: -5px;
    margin-bottom: -5px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(229, 64%, 46%);
    font-size: 20px;
}
h3{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(229, 25%, 31%);
}
.score{
    background-color: white;
    border-radius: 10px;
    width: 5.8rem;
    height: 4.5rem;
    text-align: center;
    padding: 10px;
}
.col-score{
    margin-left: auto;
}
.row{
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 20px;
    height: 6rem;
}
.header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.row2{
    display: flex;
    flex-direction: row;
    margin-left: -350px;
}
.paper{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-right: 100px;
    margin-top: -38px;
    border: 20px solid hsl(230, 89%, 65%);
    
}
.paper-select{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(230, 89%, 65%);
    display: none;
}
.rock-select{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(349, 70%, 56%);
    display: none;
}
.scissors-select{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-left: 5px;
    margin-top: 4px;
    border: 20px solid hsl(40, 84%, 53%);
    display: none;
}
.target{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
}
.target1{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
}
.target2{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8rem;
}
.paper:hover, .rock:hover, .scissors:hover, .fa-close:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
    color: hsl(237, 49%, 15%);
    background-color: white;
    border-color:  hsl(237, 49%, 15%);
}
.scissors{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-top: -38px;
    border: 20px solid hsl(40, 84%, 53%);
}
.rock{
    background-color: white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin-top: auto;
    margin-left: -280px;
    border: 20px solid hsl(349, 70%, 56%);
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-right: 100px;
}
.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px;
}
.selected{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bolder;
}
.content2{
    display: none;
    justify-content: center;
    margin-top: 8rem;
}
button{
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
}
.footer{
    text-align: right;
    margin-right: 20px;
    padding-bottom: 20px;
}
.my-rules{
    display: none;
}
.you-picked{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: hsl(238, 51%, 10%);
    margin-left: auto;
    margin-right: auto;
}
.house-picked{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: hsl(238, 51%, 10%);
    margin-left: auto;
    margin-right: auto;
}
.show-result{
    display: none;
}
.result{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 70px;
}
.btn-playAgain{
    font-weight: bold;
    cursor: pointer;
    color: hsl(237, 49%, 15%);
    background-color: white;
    border-color:  hsl(237, 49%, 15%);
}
.btn-playAgain:hover{
    color: red;
    border-radius: 10px;
    padding: 10px 30px;
}
.rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 200px;
    left: 570px;
    background: white;
    padding: 30px;
    border-radius: 10px;
}
.div-rules{
    margin-top: 50px;
}
.roww{
    display: flex;
    flex-direction: row;
}
.coll{
    margin-left: auto;
}